
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-size: 15px;


    list-style: none;

}

a{
    text-decoration: none;
    color: black;
}



.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 50px;

    background-color: #e2e2e2;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    width: 100%;
    height: 50px;

    position: relative;
    bottom: 0;

    background-color: #e2e2e2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-info{
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}



.menu-info a{
    color: black;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info{
    width: 80%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;


}

.user-info a{
    width: 40%;
}

.wrapper{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board-div{
    margin: 50px 0 50px 0;
    width: 100%;
    height: 500px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-table{
    width: 80%;
}

.main-table td{
    padding: 10px 0 10px 0;
}

.btn-div{
    width: 80%;
    float: left;
    margin-bottom: 30px;
}

.writeBtn{
    border: 1px solid #e2e2e2;
}

.ck-editor__editable_inline {
    min-height: 300px;
}